## Build scripts artifacts
build_scripts/tools/
build_scripts/*.zip
build_scripts/output/

## Build scripts config
build_scripts/config/build_config.bat

## Application artifacts
output/
app_sandbox/output/
imgui_tests/output/
imgui.ini

## Build artifacts
*.o
*.obj
*.exe
app_minimal/build/*
app_minimal/Debug/*
app_minimal/Release/*
app_minimal/x64/*
app_sandbox/build/*
app_sandbox/Debug/*
app_sandbox/Release/*
app_sandbox/x64/*
imgui_test_engine/build/*
imgui_test_engine/Debug/*
imgui_test_engine/Release/*
imgui_test_engine/x64/*
imgui_tests/build/*
imgui_tests/Debug/*
imgui_tests/Release/*
imgui_tests/x64/*
imgui_tests/imgui_tests

## Visual Studio artifacts
.vs/*
*/ipch/*
*.opensdf
*.log
*.pdb
*.ilk
*.user
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb

## Xcode artifacts
.DS_Store
project.xcworkspace
xcuserdata

## JetBrains artifacts
.idea
cmake-build-*

## Emscripten artifacts
*.out.js
*.out.wasm
